@import "mixins";
@import "fonts";
//Custom webbite style

//Canvas style
.header-container {
  #open-canvas {
    position: fixed;
    top: -$gap;
    right: $gap;
    margin: $box-spacing-large;
    font-size: $font-large !important;
    z-index: 99999;
    color: $white;
    &:hover {
      transition: all 0.3s;
      cursor: pointer;
      color: $canvas-bg;
    }
    @include bp(min-width, $bp-medium) {
      right: 360px;
      &:before {
        content: "\f007";
      }
    }
    @include bp(min-width, $bp-large) {
      display: none;
    }
  }
  #open-canvas.active {
    display: none;
  }
  main-canvas {
    z-index: 9999;
    transition: linear 0.3s;
    transform: translate(-375px,0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 340px;
    background: $canvas-bg;
    #close-canvas {
      float: right;
      margin: $gap;
      font-size: $font-large !important;
      color: $white;
      &:hover {
        transition: all 0.3s;
        cursor: pointer;
        color: $hover;
      }
    }
    .quick-access {
      float: left;
      margin: 0 $box-spacing-large;
      form {
        float: left;
        margin-top: $box-spacing-large;
        input {
          width: calc(100% - 70px) !important;
          float: left;
          border: none;
          color: $hover;
          border-radius: $gap;
        }
        button {
          position: relative;
          right: 60px;
          float: left;
          margin-left: $box-spacing-large;
          width: 40px;
          height: 40px;
          color: $canvas-bg;
          border-radius: 50%;
          font-size: $font-small;
          line-height: $font-small;
          background: $title;
          &:hover {
            transition: all 0.3s;
            color: $hover;
          }
        }
      }
      .user, .navigation {
        float: left;
        clear: both;
        font-size: $font-medium;
        color: $title;
        margin: $box-spacing-large 0;
        span {
          margin-left: $gap;
        }
      }
      .links, #nav {
        float: left;
        width: 100%;
        li {
          list-style: none;
          font-style: normal;
          margin-bottom: $gap;
          a {
            color: $title;
            font-size: $font-small;
            &:hover {
              color: $hover;
              transition: all 0.3s;
              text-decoration: none;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .nav-container {
        float: left;
        width: 100%;
        display: block;
        @include bp(min-width, $bp-medium) {
          display: none;
        }
        @include bp(min-width, $bp-large) {
          display: block;
        }
      }
      .navigation {
        display: block;
        @include bp(min-width, $bp-medium) {
          display: none;
        }
        @include bp(min-width, $bp-large) {
          display: block;
        }
      }
    }
  }
  main-canvas.active {
    transition: linear 0.3s;
    transform: translate(0,0);
  }
  #overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    z-index: 9998;
    display: none;
  }
  #overlay.active {
    display: block;
  }
}
//Header style
.header-container {
  float: left;
  width: 100%;
  .header {
    float: left;
    a {
      max-width: 200px;
      position: fixed;
      top: $sgap;
      z-index: 99999;
      strong {
        display: none;
      }
    }
    h1 strong {
      display: none;
    }
  }
}
.main-navigation-wrapper {
  z-index: 9998;
  position: fixed;
  width: 100%;
  background: $header-bg;
  height: 50px;
  .nav-container {
    float: right;
    width: auto;
    display: none;
    text-align: center;
    @include bp(min-width, $bp-medium) {
      display: block;
      text-align: right;
    }
    @include bp(min-width, $bp-large) {
      float: right;
      margin-right: 100px;
    }
    ul {
      li {
        display: inline-block;
        margin-right: $box-spacing-large;
        height: 50px;
        line-height: 50px;
        a {
          text-transform: uppercase;
          color: $white;
        }
        &:hover {
          transition: all 0.3s;
          box-shadow: inset 0px 2px $canvas-bg;
          a {
            color: $canvas-bg;
          }
        }
      }
    }
  }
  #links-user {
    display: none;
    float: right;
    background: $header-bg;
    @include bp(min-width, $bp-large) {
      display: block;
    }
    li {
      display: inline-block;
      margin-right: $box-spacing-large;
      height: 50px;
      line-height: 50px;
      a {
        text-transform: uppercase;
        color: $white;
      }
      &:hover {
        transition: all 0.3s;
        box-shadow: inset 0px 2px $canvas-bg;
        a {
          color: $canvas-bg;
        }
      }
    }
  }
}
.main-navigation-wrapper.active {
  display: none;
}

//Main container style
.main-container {
  float: left;
  width: 100%;
  margin-top: 0;
  @include bp(min-width, $bp-large) {
    float: none;
    width: 1200px;
    margin: 0 auto;
    padding-top: $box-spacing-large * 5;
  }
  .col-main {
    @include bp(min-width, $bp-medium) {
      float: left !important;
      width: 100% !important;
    }
  }
  .owl-carousel-wrapper {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    .owl-carousel {
      .owl-prev, .owl-next {
        position: absolute;
        top: calc(50% - 20px);
        @include bp(min-width, $bp-medium) {
          top: calc(50% - 60px);
        }
        @include bp(min-width, $bp-large) {
          top: calc(50% - 120px);
        }
        i {
          color: $canvas-bg;
          font-size: $font-large;
        }
      }
      .owl-prev {
        right: $gap;
      }
      .owl-next {
        left: $gap;
      }
    }
    .carousel-content-wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255, 0.8);
      @include bp(min-width, $bp-medium) {
        width: 50%;
      }
      .content-wrapper {
        width: 100%;
        margin-top:$trim;
        padding: 0 $gap;
        text-align: center;
        @include bp(min-width, $bp-medium) {
          text-align: left;
          padding: $trim;
        }
        h1 {
          color: $canvas-bg;
        }
        p {
          color: black;
        }
      }
    }
  }
}

//Category view style
.catalog-category-view {
  .toolbar {
    display: none;
  }
  .products-grid {
    max-width: 370px;
    margin: 0 auto;
    @include bp(min-width, $bp-medium) {
      max-width:100%;
      width: 50%;
      float: left;
    }
    @include bp(min-width, $bp-large) {
      width: 100%;
      max-height: 400px;
    }
    li {
      width: 100%;
      margin: 0;
      position: relative;
      @include bp(min-width, $bp-medium) {
        padding: $box-spacing-large;
      }
      @include bp(min-width, $bp-large) {
        width: 30%;
      }
      .product-content-wrapper {
        width: 100%;
        text-align: center;
        .content-wrapper {
          .product-name {
            color: white;
            font-size: $font-medium;
          }
          .price-box {
            span {
              color: $canvas-bg;
              font-size: $font-small;
            }
            .price-from {
              float: left;
              @include bp(min-width, $bp-large) {
                width: 50%;
              }
              span {
                font-size: $font-small;
              }
            }
            .price-to {
              float: right;
              @include bp(min-width, $bp-large) {
                float: left;
                width: 50%;
              }
              span {
                font-size: $font-small;
              }
            }
          }
          .actions {
            clear: both;
            position: static;
            width: 200px;
            margin: 0 auto;
            padding-top: $sgap;
            button {
              float: left;
              width: 40px;
              height: 40px;
              font-size: $font-medium;
              border-radius: 50%;
              background: $cart-hover;
              padding: 0;
              &:hover {
                transition: all 0.3s;
                background: $canvas-bg;
              }
            }
            ul {
              margin: 0;
              float: left;
              width: calc(100% - 50px);
              text-align: right;
              li {
                width: 50%;
                float: left;
                padding: 0;
                a {
                  padding: 0;
                  width: 40px;
                  height: 40px;
                  font-size: $font-medium;
                  border-radius: 50%;
                  color: white;
                  line-height: 40px;
                  text-align: center;
                  background: $canvas-bg;
                  &:hover {
                    transition: all 0.3s;
                    background: $cart-hover;
                  }
                  i {
                    width: 100%;
                    display: block;
                    height: 100%;
                    line-height: 40px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .col-main {
    @include bp(min-width, $bp-medium) {
      float: left !important;
      width: 100% !important;
    }
  }
  .col-left {
    display: none;
  }
}

//Footer style
.footer-container {
  clear: both;
}
