h1, h2, h3, h4, h5, h6, strong, .main-navigation-wrapper a {
  @include noto-bold;
}

input, label, a, i , small {
  @include noto-normal;
}

i span {
  @include noto-bold;
}

input {
  &:focus {
    outline: none !important;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
