
//Custom font-family mixin
// @font-face {
//       font-family: 'noto normal';
//       src: url('assets/fonts/NotoSans-Regular.ttf');
//       font-weight: 400;
//       font-style: normal;
//     }
@mixin noto-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
@mixin noto-normal {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}
